/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@font-face {
	font-family: 'Clip';
	src: url(./assets/Clip.ttf);
}

@font-face {
	font-family: 'Segoe UI';
	src: url(./assets/SegoeUI.ttf);
}

.clip {
	font-family: 'Clip', sans-serif;
}

.segoe {
	font-family: 'Segoe UI', sans-serif;
}

/* Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html {
	font-size: calc(1em + 1vw);
} */

body {
	background-image: url('./assets/wall.jpeg');
	background-size: auto 100%;
}

section {
	height: 100vh;
	/* background-color: #e9eff3; */
	font-family: 'Clip', sans-serif;
	/* background-image: url(./assets/background_mob.png); */
	/* background-repeat: no-repeat; */
	/* z-index: -1; */
	/* object-fit: contain; */
	/* background-position: center; */
}

.score {
	color: #767676;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score h2 {
	font-size: 30px;
	font-family: 'Clip', sans-serif;
}

.score p {
	text-align: center;
	font-size: 24px;
	padding: 10px;
	font-family: 'Clip';
}

.player-score-text {
	color: #fef992;
	text-shadow: 0.1vw 0vw 0.25vw #fef992, 0.2vw 0vw 0.25vw #fab739;
}

.computer-score-text {
	color: #f681fd;
	text-shadow: 0.1vw 0vw 0.25vw ##f681fd, 0.2vw 0vw 0.25vw #e900c5;
}

.intro {
	color: #767676;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: opacity 0.5s ease;
}

.intro h1 {
	font-size: 50px;
}

@media only screen and (max-width: 600px) {
	.intro h1 {
		font-size: 34px;
	}
}

.intro button,
.options button {
	width: 150px;
	height: 50px;
	background: none;
	border: none;
	color: rgb(224, 224, 224);
	font-size: 20px;
	background-color: #5467b6;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 0.2rem;
	font-family: 'Segoe UI', sans-serif;
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s ease 0.5s;
}

.winner {
	color: #767676;
	text-align: center;
	font-size: 50px;
}

.hands,
.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.player-hand {
	transform: rotateY(180deg);
}

/* to remove buttons and clicks */
div.fadeOut {
	opacity: 0;
	pointer-events: none;
}

/* to reveal buttons and clicks */
div.fadeIn {
	opacity: 1;
	pointer-events: all;
}

@keyframes shakePlayer {
	0% {
		transform: rotateY(180deg) translateY(0px);
	}
	15% {
		transform: rotateY(180deg) translateY(-50px);
	}
	25% {
		transform: rotateY(180deg) translateY(0px);
	}
	35% {
		transform: rotateY(180deg) translateY(-50px);
	}
	50% {
		transform: rotateY(180deg) translateY(0px);
	}
	65% {
		transform: rotateY(180deg) translateY(-50px);
	}
	75% {
		transform: rotateY(180deg) translateY(0px);
	}
	85% {
		transform: rotateY(180deg) translateY(-50px);
	}
	100% {
		transform: rotateY(180deg) translateY(0px);
	}
}

@keyframes shakeComputer {
	0% {
		transform: translateY(0px);
	}
	15% {
		transform: translateY(-50px);
	}
	25% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(-50px);
	}
	75% {
		transform: translateY(0px);
	}
	85% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

.neon-wrapper {
	height: 50vh;
	text-align: center;
	padding: 2rem 4rem;
	box-shadow: 0 0 0.1vw 0.4vw #9febfa, 0 0 0.4vw 0.6vw #2db9f4, inset 0 0 1.5vw 0.4vw #2db9f4,
		inset 0 0 0.4vw 0.2vw #2db9f4;
	border-radius: 0.2rem;
	background: #060b26;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.neon-text {
	font-size: 2rem;
	color: #9febfa;
	text-shadow: 0.1vw 0vw 0.25vw #9febfa, 0.2vw 0vw 0.25vw #2db9f4;
}

.neon-text-yellow {
	font-size: 2rem;
	color: #fef992;
	text-shadow: 0.1vw 0vw 0.25vw #fef992, 0.2vw 0vw 0.25vw #fab739;
}

.neon-text-lg {
	font-size: 2.8rem;
	color: #9febfa;
	text-shadow: 0.1vw 0vw 0.25vw #9febfa, 0.2vw 0vw 0.25vw #2db9f4;
}

.neon-btn {
	padding: 0.5rem 3rem;
	color: #fff;
	font-size: 2rem;
	background: #172c87;
	letter-spacing: 1.5px;
	border: 4px solid #0f1d57;
	border-radius: 4px;
	cursor: pointer;
}

.neon-btn:hover {
	transform: scaleY(1.1);
	transform: translateY(2px);
	background: #10216e;
}

.mb-sm {
	margin-bottom: 1rem;
}

.toggle-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
	transition: all 1.5s ease;
}
